.main_wrapper {
    width: 70%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    margin: 150px auto 0px auto;
    transform: translateX(-50%);
    background: rgb(29, 30, 156);
    background: linear-gradient(128deg, rgba(29, 30, 156, .2) 14%, rgba(255, 71, 26, .2) 94%);
    /* box-shadow: 5px 5px 20px rgba(0, 0, 0, .7); */
    /* background-color: rgba(255, 255, 255, 0.1); */
    backdrop-filter: blur(7px);
    border-left: 2px solid #ff471a;
    border-top: 2px solid #ff471a;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
}

.left {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right {
    width: 80%;
    height: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #ffffffff;
}

.about {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 20px;
}

.title {
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.body_wrapper {
    width: 100%;
    margin-bottom: 30px;
}

.body {
    font-size: .9em;
    color: rgb(255, 255, 255);
    margin-top: 50px;
}

.tool_title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}

.tools {
    width: 80%;
    height: 80px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tools img {
    width: 50px;
    object-fit: contain;
}

.filter {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

@media screen and (max-width:1100px) {
    .main_wrapper {
        width: 95%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 15px;
        margin: 120px auto 0px auto;
    }
    .left {
        width: 100%;
        height: 65%;
    }
    .right {
        width: 100%;
        height: 30%;
        font-size: 17px;
    }
    .about {
        font-size: 20px;
        height: 100%;
    }
}

@media screen and (max-width:880px) {
    .main_wrapper {
        width: 95%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 15px;
        margin: 40px auto 0px auto;
    }
    .left {
        width: 100%;
        height: 65%;
    }
    .right {
        width: 100%;
        height: 30%;
        font-size: 17px;
    }
    .about {
        font-size: 20px;
        height: 100%;
    }
}

@media screen and (max-width:520px) {
    .main_wrapper {
        width: 95%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 15px;
        margin: 40px auto 0px auto;
    }
    .left {
        width: 100%;
        height: 65%;
    }
    .right {
        width: 100%;
        height: 30%;
        font-size: 15px;
    }
    .about {
        font-size: 17px;
        height: 100%;
    }
    .tool_title {
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 30px;
    }
    .tools {
        width: 90%;
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .tools img {
        width: 30px;
        object-fit: contain;
    }
}

@media screen and (max-width:400px) {
    .tools img {
        width: 20px;
        object-fit: contain;
    }
}