@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');
.main_title::before, .main_title::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #ff471a;
    display: block;
}

.main_title::before {
    margin-left: -40px;
}

.main_title::after {
    margin-left: 40px;
}

.main_title {
    font-size: clamp(3rem, 4rem, 3vw);
    color: #ffffffff;
    position: absolute;
    top: 14vh;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif;
}

.container {
    margin-top: 27vh;
    padding: 10px 0 30px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    font-family: 'Poppins', sans-serif;
}

.box {
    width: 400px;
    height: auto;
    border-radius: 15px;
    background: rgb(29, 30, 156);
    background: linear-gradient(128deg, rgba(29, 30, 156, .3) 14%, rgba(255, 71, 26, .15) 94%);
    backdrop-filter: blur(5px);
    font-size: 30px;
    padding: 20px 5px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-left: 3px solid #ff471a;
    border-top: 3px solid #ff471a;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
    z-index: 20;
    transition: all .3s ease-in-out;
}

.project_description {
    width: 100%;
    height: auto;
    font-size: 30px;
    color: #ffffffff;
    margin-top: 30px;
}

.project_description h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 1.3em;
}

.left {
    top: 0;
    right: 5%;
}

.right {
    top: 0;
    left: 5%;
}

.description {
    width: 100%;
    height: auto;
    font-size: clamp(.9rem, 1.09rem, 1vw);
    letter-spacing: .04em;
    z-index: 20;
    padding: 10px;
    overflow-y: auto;
}

.icon_wrapper {
    width: 60%;
    height: auto;
    margin-left: 50%;
    margin-top: 30px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon_wrapper img {
    width: 40px;
    object-fit: contain;
}

.reverse_image {
    filter: invert(100%);
}

.launch_wrapper {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.launch_wrapper a {
    text-decoration: none;
}

.source_code {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: clamp(1.4rem, 1em, 1.5vw);
    cursor: pointer;
    text-align: center;
    transition: all .3s ease-in-out;
}

.demo {
    width: 100%;
    color: #ffffffff;
    border-radius: 25px;
    font-size: clamp(1.4rem, 1.1em, 1.5vw);
    cursor: pointer;
    margin-top: 10px;
    transition: all .3s ease-in-out;
}

.code_icon {
    height: 30px;
    object-fit: contain;
    margin-left: 10px;
    transition: all .4s ease-in-out;
}

.demo:hover .code_icon {
    left: 100%;
    color: #ff471a;
}

.source_code:hover {
    color: #fd8162;
}

@media screen and (max-width:480px) {
    .main_title {
        top: 5vh;
    }
    .box {
        height: auto;
        margin-bottom: 60px;
    }
}